body{
    width: 100%;
    height: 100%;
    font-family:sans-serif;
}

.div-logo {
    width: 50%;
    height: 23%;
}

#logo {
    width: 17%;
    height: 65%;
    margin-bottom: 35%;
    margin-left: -15%;
}


.text{
    display: flex;
    flex-direction: column;
    margin-top: 6%;

}

.first-div{
    background-image: url('assets/films\ webpage\ 2.jpg');
    width: 100%;
    height: 955px;
    background-size:100% 100% ;

    padding:1%  11%;
    line-height: 2;
    font-weight: bold;
    font-size: 12rem;
    color: white;
    display: flex;
    flex-direction: column;
}

.message{
    font-size: 3rem;
    line-height: 1.3;
    font-family:'sans-serif';
}

#main-msg1{
    color: #fffa76;
}

#main-msg2{
    margin-left:0.65rem;
}

#main-msg3{
    color: #fffa76;
}

#main-msg4{
    color: #f5f4d4;
}

#main-msg5{
    margin-left:0.65rem;
}

#userID{
    width: 32%;
}

#submit{
    margin-top: 1.6%;
    width: 10%;
    border-radius: 5%;
}

.all-icons{
    display: flex;
    justify-content: space-around;
}

.horizontal-line{
    background-color: #00aeef;
    width: 65px;
    height: 4px;
}

.vertical-line{
    border-left: 2px solid #abbcdb;
    margin: 4.3%;
}

.aboutUs-div{
    width:100.91%;
    height: 600px;
    text-align: center;
    padding-top: 45px;
    color: black;
    word-spacing: 2px;
    background-color: #f3f3f3;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.pic{
    width: 70%;
    height: 75%;
    margin-top: 7%;
    border-radius: 3%;   
}

.about{
    font-size: 36px;
    padding-top: 6%;
    font-weight: 600;
    line-height: 1.4;
    color: #333333;
    display: flex;
}

.para{
    text-align: left;
    float: left;
    padding-top: 7%;
    line-height: 1.68;
    font-size:x-large; 
    font-weight: 400;
}

#numbers{
    padding-top: 6%;
    padding-right: 6%;
    font-size: 1.3rem;
    font-weight: 600;
    color: black;
    line-height: 1.5;
    display: flex;
    justify-content: space-evenly;
}

.team{
    padding-top: 10%;
    width: 99.8%;
    height: 100%;
    background-size: 100% 100%;
    background-image: url("assets/background\ 1.jpg");
}

.our-team{   /* text */
    padding-top: 1%;
    padding-bottom: 4%;
    text-align: center;
    font-family: 'Verdana, Geneva, Tahoma, sans-serif';
    color: white;
    font-size: 4.6rem;
    font-weight: 400;
}

.team-mates, .names{   /* div contains team photos */
    display: flex;
    justify-content: center;
}

.profile{
    padding:3%;
    font-family:  "Nunito Sans", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.8;
    font-weight: 400;
    text-align: center;
}

.person{   /* the photos */ 
    border-radius: 50%;
    width: 18rem;
    height: 18rem;
    margin-left:7.3%;
    margin-right: 3%;
}

.name{
    padding-top: 5%;
    color: aliceblue;
}

.major{
    padding-top: 2%;
    color: rgb(77, 240, 186);
}

.copy{
    align-items: center;
    width: 50%;
    margin: auto;
}
